@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.contactsBlock {
  .section {
    @include section();
    padding-bottom: 220px;
    .container {
      @include container();

      .content {
        @include content($align:flex-start,$wrap:no wrap);
        @media screen and (max-width: 990px) {
          flex-direction: column;
          justify-content: start;
          gap: 15px;
        }

        .contacts {
          width: 32%;
          text-align: justify;
          line-height: 1.6;
          @include flex(flex-start, stretch,column );
          @include text(400,#555);
          @media screen and (max-width: 990px) {
            width: 100%;
          }

          .description {
            margin-top: 0;
            line-height: 27px;
          }

          .contact {
            line-height: 21px;
            @include flex(flex-start, center);
            gap: 15px;
            word-break: break-word;

            .block {
              font-weight: 600;

              .bText {
                opacity: .7;
                font-weight: 400;
              }
            }

            .icon {
              @include icon();
            }
          }
        }
      }
    }
  }
}



