
.mainBlock{
    min-height: 100vh;
    background: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    width: 300px;
    background-color: #bec0c4;
    padding: 10px 0;
}
.photo{
    width: 300px;
    height: 400px;
    margin: 10px 0;
    background-color:  #bec0c4;
}
@media (max-width: 100px) {
    .text{
        width: 100%;
    }
}