.skillsBlock{
    min-height: 100vh;
    background-color: #bd8ca5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    background-color: #bec0c4;
}
.skillsContainer{
    flex-direction: column;
}
.skills{
    width: 100%;
    border-top: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media(max-width: 960px){
    .skills{
        justify-content: center;
        gap: 10px;
    }
}