@import 'src/assets/styles/mixins';
@import 'src/assets/styles/variables';

.header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 130px;
  height: 100%;
  background: rgba(91%, 91%, 91%, .7);
  @media screen and (max-width: 991px) {
    width: 80px;
  }

  .headerBar {
    height: 100%;
    padding: 40px 0;
    margin: 0 auto;
    @include flex(space-between, center, column);

    .menuBurger {
      width: 40px;
      height: 40px;
    }


    .connection {
      @include flex(center, center, column);
      gap: 25px;
      height: calc(100% - 170px);

      .line {
        background-color: black;
        width: 1px;
        flex-grow: 1;
        @media screen and (max-width: 991px) {
          width: 0.4px;
        }
      }
      .icon{
        @include flex(center, center, column);
        gap: 15px;
        & a {
          @include flex(center, center);
          width: 38px;
          height: 38px;
          color: black;
          font-size: 20px;
          background: rgba(255, 255, 255, .8);
          border-radius: 50%;

          &:hover {
            background: $color-back;
            color: white;
          }
        }
      }

    }

    .logo {
      @include text(700);
      transform: rotate(-90deg);
    }
  }
}