@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";


.skillsBlock {
  .section {
    @include section();

    .container {
      @include container();

      .content {
        @include content();

        .sliderBox {
          background: radial-gradient(circle, #f8f8ff, white);
          width: 85%;
          border-radius: 64px;
      /*   border: thick groove;
         border-image: linear-gradient(to right, $color-back, black) 100% 1;*/
          border-top: thick groove black;
          border-bottom: thick groove black;
          text-align: center;
          margin: 0 auto;
          padding-bottom: 60px;
          @media screen and (max-width:654px){
            width: 100%;
          }

          & h5 {
            @include title(#666);
            font-size: 40px;
          }
        }

      }
    }
  }
}
