.nav{
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.nav a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.nav a:hover{
    color: white;
}