@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.projectBlock {
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  @media screen and (min-width:800px) and (max-width: 1220px) {
    height: 440px;
  }
  @media screen and (max-width:800px){
    height: 410px;
  }
  &:hover a {
    transform: scale(1.1);
  }

  &:hover a:after{
    top: 20%;
    background: linear-gradient(to top,#2fbf71,transparent);
  }
  & a {
    border-radius: 2%;
    display: block;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: transform 0.28s ease;
    background-color: black;
    &:after{
      content: '';
      position: absolute;
      top: 30%;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 4;
      background: linear-gradient(to top,rgba(0,0,0,0.7),transparent);
    }
  }

  .aboutProject {
    position: absolute;
    z-index: 5;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 30px 10px 30px;
    color: white;
    .development {
      @include text(300, $lS: 0.5px);
      margin: 0;
    }

    .title {
      @include text(600, $size: 30px);;
      margin-top: 0;
      margin-bottom: 20px;
    }

    .description {
      margin-top: 0;
      height:75px;
      text-align: justify;
      word-spacing: 12px;
      @include text(400, $size: 14px, $lS: 0.2px);;
    }
  }

}

