*{
  box-sizing: border-box;
  word-break: break-word;
}
body {
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, button{
  cursor:pointer;
}
html{
  scroll-behavior: smooth;
}
