

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid black;
}

@media screen and (max-width: 960px) {
    .container{
        justify-content: center;
    }
}
.section{
    position: relative;
    width: calc(100% - 130px);
    height: 100%;
    left: 130px;
    padding: 0 5%;

}
@media screen and (max-width: 991px) {
    .section{
        width: calc(100% - 80px);
        left: 80px;
    }
}

