@import 'src/assets/styles/variables';

@mixin container() {
  max-width: 1240px;
  margin: 0 auto;
}

@mixin content($direction:row, $justify:space-between,$align:center,$wrap:wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  @media screen and (max-width: 960px) {
    justify-content: center;
  }
}

@mixin title($color) {
  font-family: $font-family-title;
  color: $color;
  font-weight: 800;
  font-size: 30px;
}

@mixin text($weight,$color:0,$size:16px,$lH: normal,$lS:normal) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lH;
  letter-spacing: $lS;
  @if $color != 0 {
    color: $color;
  }
}


@mixin flex($justify,$align,$direction:row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin icon() {
  color: $color-back;
  font-size: 100%;
  width: 39px;
  height: 39px;
}

@mixin section() {
  position: relative;
  z-index: 8;
  width: calc(100% - 130px);
  left: 130px;
  padding: 70px 4.8% 100px 4.8%;
  @media screen and (max-width: 991px) {
    width: calc(100% - 80px);
    left: 80px;
  }
  @media screen and (max-width: 360px) {
    left: 0;
    width: 100%;
  }

}