.workBlock{
    background-color: #44420f;
    .section{
        .container{

        }
    }
}
.workContainer{
    flex-direction: column;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    gap: 20px;
}
.text{
    background-color: #bec0c4;
}
