@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.projectsBlock {
  background-color: #f9f9f9;

  .section {
    @include section();

    .container {
      @include container();

      .content {
        @include content($justify: center);

        .projects {
          width: 100%;
          @include flex(space-between, center);
          gap: 3%
        }
      }
    }

  }
}


@media screen and (max-width: 1132px) {
  .projects {
    justify-content: center;
    gap: 10px;
  }
}